@model boty_asp.Areas.Admin.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<h1>Create Product</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Product.CategoryId" class="control-label">Category</label>
                <select asp-for="Product.CategoryId" class ="form-control" asp-items="ViewBag.Categories">
                    <option value="" disabled selected>-- Select Category --</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea asp-for="Product.Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Product.BasePrice" class="control-label"></label>
                <input asp-for="Product.BasePrice" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Product.BasePrice" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Product.DiscountPercent" class="control-label"></label>
                <input asp-for="Product.DiscountPercent" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Product.DiscountPercent" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Product.DPH" class="control-label"></label>
                <input asp-for="Product.DPH" class="form-control" type="number" step="0.01" value="0.21"/>
                <span asp-validation-for="Product.DPH" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
            <label asp-for="ImageUpload" class="control-label">Product Image</label>
            <input type="file" asp-for="ImageUpload" class="form-control" accept="image/*" required="required"/>
            <span asp-validation-for="ImageUpload" class="text-danger"></span>
            </div>
            
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsActive" checked/> 
                    @Html.DisplayNameFor(model => model.Product.IsActive)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success rounded-pill" />
                <a asp-action="Index" class="btn btn-secondary rounded-3">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}