@model boty_asp.Models.Category

@{
    ViewData["Title"] = "Edit Category " + @Model.Id;
}

<h1>Edit Category @Model.Id</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ParentId" class="control-label">Parent</label>
                <select asp-for="ParentId" class ="form-control" asp-items="ViewBag.Categories">
                    <option value="" disabled selected>-- No Parent --</option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-warning rounded-pill" />
                <a asp-action="Index" class="btn btn-secondary rounded-3">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}