<footer class="mainfooter">
    <span class="redfooterpart">
        <span class="part1">
        <h2>O NÁS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque dolores libero mollitia neque pariatur veritatis. Ipsa iure mollitia necessitatibus reiciendis! Accusantium facere iure, modi molestiae obcaecati pariatur possimus quod.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque dolores libero mollitia neque pariatur veritatis. Ipsa iure mollitia necessitatibus reiciendis! Accusantium facere iure, modi molestiae obcaecati pariatur possimus quod.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci atque dolores libero mollitia neque pariatur veritatis. Ipsa iure mollitia necessitatibus reiciendis! Accusantium facere iure, modi molestiae obcaecati pariatur possimus quod.Lorem ipsum dolor sit</p>
            <a href="index.html"><img src="img\logo_white.png" alt="logo"></a>
        </span>
        <span class="part2">
        <h2>NAŠE NABÍDKA</h2>
        <span class="lists">
            <span>
            <h3>Dívčí</h3>
            <ul>
                <li><span>Tenisky</span></li>
                <li><span>Holinky</span></li>
                <li><span>Sandály</span></li>
                <li><span>Baleríny</span></li>
                <li><span>Polobotky</span></li>
            </ul></span>
            <span>
            <h3>Chlapecké</h3>
            <ul>
                <li><span>Tenisky</span></li>
                <li><span>Holinky</span></li>
                <li><span>Sandály</span></li>
                <li><span>Baleríny</span></li>
                <li><span>Polobotky</span></li>
            </ul></span>
        </span>
        </span>
    </span>
    <span class="bluefooterpart">
        <h2>
            KONTAKTUJTE NÁS
        </h2>
        <div class="contacts">
            <span class="icontext"><img src="img\6.png" alt="mail"><a href="">info@nejlepsiboty.cz</a></span>
            <span class="icontext"><img src="img\8.png" alt="phone"><a href="">+420 777 666 555</a></span>
            <span class="icontext"><img src="img\facebook.png" alt="fcbk"><img src="img\Group 153.png" alt="instgrm"><img src="img\twitter.png" alt="twitter"></span>
        </div>
        <a href="https://maps.app.goo.gl/TCy8CGxpRLacsBqb7">Litvínovská 600, Praha 9, 190 00</a>
    </span>
</footer>
