<header class="primaryheader">
    <span class="headertext">
        <img class="hideonmobile" src="~/img/8.png"><a href="tel:+420777666555"><p class="hideonmobile">+420&nbsp</p><p>777 666 555</p></a><p class="divider">&nbsp|&nbsp</p><a class="emaillink" href="_blank"> info@nejlepsiboty.cz</a>
    </span>
    <span><a asp-controller="Login" asp-action="Index"><img class="userpic" src="~/img/profile-user.png"><p class="hideonmobile">Přihlásit se</p></a></span>
</header>
<header class="secondaryheader">
    <div class="upperheaderpart">
        <a href="Home"><img class="logo" src="~/img/Group 4.svg" alt="logo"></a>
        <span class="iconsonright">
            <span class="searchbox">
                <label>
                    <img class="searchpic" src="~/img/loupe.png">
                    <input class="hideonmobile" type="text" placeholder="Vyhledat zboží...">
                </label>
            </span>
            <a href="Order"><img src="/img/Group 6.png"></a><a href=""><img src="~/img/heart.png"></a>
        </span>
    </div>
    <nav class="mainnav">
        <a asp-controller="WholeOffer" asp-action="Index" asp-route-catId="7">
            <p>Chlapecké&nbsp</p><img src="~/img/Group 169.png">
        </a>
        <a asp-controller="WholeOffer" asp-action="Index" asp-route-catId="6">
            <p>Dívčí&nbsp</p><img src="~/img/Group 171.png">
        </a>
        <a href="">
            <p>Doplňky</p>
        </a>
        <a href="">
            <p>Ostatní</p>
        </a>
        <a href="#kontakt" class="hideonmobile">
            <p>Kontakt</p>
        </a>
    </nav>
</header>