@model boty_asp.Models.Size

@{
    ViewData["Title"] = "Delete Product";
    
    string cancel = "btn btn-danger rounded-pill ";

    if (Model.ProductVariants.Any()) {
        cancel += "disabled";
    }
}

<h3>Are you sure you want to delete this?</h3>
<div class="alert alert-danger">
    <strong>Warning:</strong> This action cannot be undone.
</div>

<div>
    <h4>Size: @Model.SizeValue</h4>
    <hr />
    
    <form asp-action="Delete2">
        <input type="hidden" asp-for="Id" />
        
        <a asp-action="Index" class="btn btn-secondary rounded-3">Cancel</a>
        <input type="submit" value="Delete" class="@cancel" />
            @if (Model.ProductVariants.Any()) {
                <p class="alert alert-danger mt-5">You cannot delete this item, because another item is currently using it.</p>
            }
    </form>
</div>