@using boty_asp.HelperClasses
@inject IHttpContextAccessor HttpContextAccessor

<div class="demandcontainer">

    <div class="cart">
        
        <h1>Váš Košík:</h1>
        @{
            var cartCount = HttpContextAccessor.HttpContext.Session.GetObject<List<int>>("Cart")?.Count ?? 0;
        }
        
        <div class="cartItem">
            
            
        </div>
        
    </div>

<div class="demand">

    <h1>Zadejte Vaše údaje</h1>

    <form action="demand.php">

        <span class="jmenoprijmeni">
        <label>
            Jméno
            <input id="name" name="jmeno" type="text" required placeholder="Zadejte své jméno...">
        </label>
        <label>
            Příjmení
            <input id="surname" name="prijmeni" type="text" required placeholder="Zadejte své příjmení...">
        </label>
        </span>
        <label>
            E-mail
            <input id="mail" name="email" type="email" required placeholder="Zadejte svůj e-mail...">
        </label>
        <label>
            Telefon
            <input id="phone" name="telefon" type="tel" pattern="^\+((?:9[679]|8[035789]|6[789]|5[90]|42|3[578]|2[1-689])|9[0-58]|8[1246]|6[0-6]|5[1-8]|4[013-9]|3[0-469]|2[70]|7|1)(?:\W*\d){0,13}\d$" required placeholder="Zadejte svůj telefon...">
        </label>
        <label>
            Země
            <select id="zem" name="zeme" required>
                <option value="" disabled selected hidden>Vyber zemi</option>
                <option value="ČR">Česko</option>
                <option value="SR">Maďarsko</option>
            </select>
        </label>
        <p>Způsob platby</p>
        <span class="radiospan">
            <span>
            <input id="radio1" name="platba" type="radio" required value="Hotove">
            <label for="radio1">Hotově</label>
                </span>
            <span>
            <input id="radio2" name="platba" type="radio" required value="Prevodem">
            <label for="radio2">Převodem</label>
                </span>
            <span>
            <input id="radio3" name="platba" type="radio" required value="Kartou">
            <label for="radio3">Kartou</label>
                </span>
        </span>

        <span class="buttons">
        <a href="Home"><button class="back" type="button">Zpět</button></a>
        <button class="submit" type="submit">Pokračovat</button>
    </span>
    </form>

</div>
</div>