@model boty_asp.ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Sign Up";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<form asp-action="SignUp">
    <div class="logincard">
        <h1>Registrace</h1>
        <label>Uživatelské jméno</label>
        <input type="text" asp-for="Username" required="required">
        <label>Heslo</label>
        <input type="text" asp-for="Password" required="required">
        <label>Potvrďte Heslo</label>
        <input type="text" asp-for="ConfirmPassword" required="required">
        <div asp-validation-summary="All"></div>
    
        <span class="buttons">
            <a class="button" id="home" asp-controller="Login" asp-action="Index">Zpět</a>
            <button class="button" type="submit">Pokračovat</button>
        </span>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}