@{
    string navstyle = "nav-link rounded-4 bg-primary bg-opacity-50 text-primary-emphasis fw-bolder";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Administration</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body class="p-3">

<nav class="nav nav-justified gap-xl-5 bg-secondary-subtle rounded p-3">
    <a class="@navstyle" asp-area="Admin" asp-controller="ProductAdmin" asp-action="Index">Products</a>
    <a class="@navstyle" asp-area="Admin" asp-controller="CategoryAdmin" asp-action="Index">Categories</a>
    <a class="@navstyle" asp-area="Admin" asp-controller="ColorAdmin" asp-action="Index">Colors and Sizes</a>
</nav>

<hr class="my-4 border-2">

<div>
    <main>
        @RenderBody()
    </main>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1050;">
<a class="btn rounded-5 bg-primary text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>